.homeComponent h1 {
  font-size: medium;
  padding-top: 100px;
  padding-left: 100px;
}

.homeComponent img {
 height: 20%;
 padding-right: 100px;
}
.NavBar{
  background-color: #E5E0DC;
  width: auto;
}
.logo{
  max-height: 100px;
}
